.header {
	border-bottom: 2px solid black;
	margin-left: 35%;
	margin-right: 35%;
	text-align: center;
}

body {
	border: 2px solid black;
	background-color: white;
}

html {
	background-color: teal;
}

article {
	margin: 30px;
}