.header {
	text-align: center;
	border-bottom: 2px solid black;
}

body {
	font-size: 45px;
	margin: 0px;
	background-color: lightyellow;
}

.section {
	background-position: center;
	background-size: cover;
	padding: 50px;
}

.inner {
	padding: 10px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: white;
}